::ng-deep :root {
    .arich {
        height: auto !important;
        .sum_number {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-start;
            font: 19px/20px Assistant;
            .sum_number_dig {
                margin: 3px 15px 0;
            }
        }
        lib-svg {
            margin-bottom: -15px;
            margin-top: 2px;
            svg {
                margin-bottom: 7px;
            }
        }
    }
}