lib-svg {
    display: inline-flex;
    vertical-align: middle;

    .lib-svg-box {
        display: inline-flex;
    
        svg {
            width: 1em;
            height: 1em;
            color: currentColor;
    
            * {
                fill: currentColor;
            }
        }
    }
}

.p-button {
    &:not(.p-button-icon-only) {
        lib-svg {
            margin-left: $inlineSpacing;
        }
    }
}